/**index.scss**/
.title {
  margin-top: 3rem;
  font-size: 1.4rem;
  font-weight: bold;
}

.sub-title {
  margin-top: 1.5rem;
  font-size: 1.2rem;
  font-weight: bold;
}

.sub-title-2 {
  margin-top: 1rem;
  font-size: 1.1rem;
  font-weight: bold;
}